[submodule "underapproximation_type"]
	branch = meta
	path = underapproximation_type
	url = https://github.com/Pat-Lafon/underapproximation_type.git
[submodule "zutils"]
	path = zutils
	url = https://github.com/Pat-Lafon/zutils.git
[submodule "abduction"]
	path = abduction
	url = https://github.com/Pat-Lafon/abduction.git
